@{
    ViewBag.Title = "Product_Manage";
}
@model SqlModel.Home.ProductModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="../css/forms.css" />
    <link href="../style/style.css" rel="stylesheet" type="text/css" />
    <script src="../js/common.js" type="text/javascript"></script>
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function chuancan() {
            $.ajax({
                url: "/Product_Manage/btnquery",
                type: "Post",
                async: false,
                data: {
                    //"productname": $("#txtProductName option:selected").text(),
                    "productname": $("#txtProductName").val(),
                    "producttypeids": $("#ddlProductType option:selected").val()
                },
                success: function (data) {
                    //TODO:更新后的处理代码
                    $("#Selector").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("失败：" + errorThrown);
                }
               
            });
        }

    </script>
</head>
<body topmargin="0px" bottommargin="0px" leftmargin="0px" rightmargin="0px" onload="controlInputNumber()">
    <form id="form1" runat="server">
        <div class="forms1">
            <div class="forms2">
                <span>
                    商品管理
                </span>
                <div class="forms4">
                    @Html.ActionLink("商品添加", "Product_Add",null,new { @class="forms4_1" })
                    <a href="Product_Add.aspx" class="forms4_1">商品添加</a>
                    <input type="submit" ID="btndel" runat="server" Text="批量删除" OnClick="btndel_Click" OnClientClick="getCheckedDelIds();" style="cursor:pointer" onmouseout="this.style.backgroundImage='url(../images/other/blue1.png)'" onmouseover="this.style.backgroundImage='url(../images/other/blue2.png)'" />
                </div>
            </div>
            <div style="border:1px solid #FFFFFF">
                <table class="forms3" width="100%" height="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="forms5_1" nowrap="nowrap" align="left">
                            <span style="color:Black">商品名称：</span>
                            <input name="txtProductName" id="txtProductName" type="text" />

                            &emsp;

                            <span style="color:Black">商品类型：</span>
                            @Html.DropDownList("ddlProductType", ViewBag.deptSelectItems as IEnumerable<SelectListItem>)
                            &emsp;
                            <input onclick="chuancan();return false;" name="btnquery" id="btnquery" text="" src="../images/blue/search.jpg" style="height:21px;width:58px;border-width:0px;vertical-align:middle" type="image" />

                        </td>
                    </tr>
                    <tr>
                        <td class="forms5_2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="Selector">
                            @Html.Partial("btnquery")
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </form>
</body>
</html>
